{% extends "templates/web.html" %}

{% block page_content %}
<div class="lesson-content">
    {{ content }}
</div>

<script>
frappe.ready(function() {
    // Mark lesson as viewed when page loads
    frappe.call({
        method: "lms.lms.doctype.course_lesson.course_lesson.save_progress",
        args: {
            lesson_name: "{{ lesson.name }}",
            course: "{{ course.name }}"
        },
        callback: function(r) {
            // Refresh progress display if needed
            if(window.updateProgress) {
                window.updateProgress();
            }
        }
    });
});
</script>
{% endblock %} 